<div class="content abgerundet">
	<div class="row">
		<h3>Kontakt</h3>
		<p>
			Sie m&ouml;chten mehr &uuml;ber unsere unabh&auml;ngige Energieberatung erfahren?<br />
			Rufen Sie uns doch einfach an oder schicken Sie uns eine Nachricht:
		</p>
	</div>
	<div class="row">
	<div class="col-md-2 col-lg-2">
		<%= image_tag 'telefon.png', width: '80', height: '80', title: 'Rufen Sie uns an!'  %>
		</div>	
		<div class="col-md-6 col-lg-6">
			<p>Telefon: 05341 - 225 57 98<br /><a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#100;&#105;&#101;&#045;&#101;&#110;&#101;&#114;&#103;&#105;&#101;&#098;&#101;&#114;&#097;&#116;&#117;&#110;&#103;&#115;&#097;&#103;&#101;&#110;&#116;&#117;&#114;&#046;&#100;&#101;">&#105;&#110;&#102;&#111;&#064;&#100;&#105;&#101;&#045;&#101;&#110;&#101;&#114;&#103;&#105;&#101;&#098;&#101;&#114;&#097;&#116;&#117;&#110;&#103;&#115;&#097;&#103;&#101;&#110;&#116;&#117;&#114;&#046;&#100;&#101;</a></p>
		</div>	
	</div>
</div>
