<div class="row">
	<div class="col-md-12 col-lg-12">
		<div class="content abgerundet">
			<h3>Kontakt</h3>
			<p>Freilebende Gummib&auml;rchen gibt es nicht. Man kauft sie in Packungen an der Kinokasse. Dieser Kauf ist der 
			Beginn einer fast erotischen und sehr ambivalenten Beziehung Gummib&auml;rchen-Mensch. Zuerst genie&szlig;t man. 
			Dieser Genu&szlig; umfa&szlig;t alle Sinne. Man w&uuml;hlt in den Gummib&auml;rchen, man f&uuml;hlt sie. Gummib&auml;rchen haben eine 
			Konsistenz wie weichgekochter Radiergummi. Die Tastempfindung geht auch ins Sexuelle. Das bedeutet nicht 
			unbedingt, da&szlig; das Verh&auml;ltnis zum Gummib&auml;rchen ein geschlechtliches w&auml;re, denn prinzipiell sind diese 
			geschlechtsneutral. Nun sind Gummib&auml;rchen weder wabbelig noch z&auml;h; sie stehen genau an der Grenze. 
			Auch das macht sie spannend. Gummib&auml;rchen sind auf eine aufreizende Art weich. Und da sie weich sind, 
			kann man sie auch ziehen. Ich mache das sehr gerne. Ich sitze im dunklen Kino und ziehe meine Gummib&auml;rchen 
			in die L&auml;nge, ganz ganz langsam. 
			</p>
		</div>
	</div>
</div><!-- Ende einer Reihe -->