<div class="content abgerundet">
	<h3>Der Energieausweis - Das m&uuml;ssen Sie ab Mai 2014 beachten</h3>
	<p>Anfang Mai 2014 trat die neue Energieeinsparverordnung (EnEV) in Kraft. Dies hat Auswirkungen auf den 
	Verkauf und die Vermietung von Immobilien:
	<br />
	Jede Immobilienanzeige in Zeitungen, Zeitschriften und im Internet muss k&uuml;nftig Pflichtangaben aus dem Energieausweis  
	enthalten. Der Verk&auml;ufer bzw. Vermieter muss bei jedem Verkauf/Vermietung dem K&auml;ufer/Mieter den Energieausweis 
	bereits bei der Besichtigung vorlegen und nach Abschluss &uuml;bergeben.</p>
	<p><strong class="farbe-dunkelrot">Verk&auml;ufer bzw. Vermieter, die ab dem 1. Mai 2014 keinen korrekt ausgestellten 
	Energieausweis vorlegen k&ouml;nnen, begehen nach der Energieeinsparverordnung eine Ordnungswidrigkeit, die mit Bu&szlig;geldern 
	von bis zu 15.000 Euro geahndet wird! </strong>
	</p>
	<p>Speziell bei Wohngeb&auml;uden findet neben der Einf&uuml;hrung von Energieeffizienzklassen  auch bei der 
	energetischen Einordnung eine deutliche Versch&auml;rfung der Richtlinien statt. Somit wird ab Mai 2014 
	bei gleichem Energiekennwert die Energieausweis-Farbskala anders dargestellt: 
	Befand sich ein Geb&auml;ude bisher noch im gelben Bereich der Farbskala, so k&ouml;nnte es sich nun schon fast 
	im roten Bereich befinden!</p>
	<h4>Sie ben&ouml;tigen einen (neuen) Energieausweis?</h4>
	<p>Im Internet finden Sie zahlreiche Offerten, wo Sie f&uuml;r rund 50 Euro nur ein paar Daten eingeben m&uuml;ssen,	auf bezahlen klicken 
	und kurz darauf schon Ihren Energieausweis im Postkasten haben. </p>
	<h4>Wo ist das Problem?</h4>
	<p>Es gibt verschiedene Arten von Energieausweisen und es sollte sichergestellt sein, dass der ausgew&auml;hlte auch  
	<em>f&uuml;r Sie</em> der richtige bzw. am besten geeignete ist, denn der Teufel steckt bekannterma&szlig;en im Detail.</p>
	<p><strong class="farbe-dunkelrot">Alle Angaben, auf deren Basis der Energieausweis ausgestellt wird, sollten 
	(und m&uuml;ssen) korrekt sein. Denn f&uuml;r falsche Angaben haftet der Eigent&uuml;mer!</strong></p>
	<h4>Gehen Sie auf Nummer sicher!</h4>
	<p>Zu empfehlen ist daher nicht der &quot;Internet-Energieausweis&quot;, sondern einer, der Ihnen durch einen 
	unabh&auml;ngigen und qualifizierten Energieberater, nach einer Vor-Ort-Besichtigung, ausgeh&auml;ndigt wird.</p>
	<p><strong class="farbe-dunkelrot"><a href="#">Wie bei einer Energieberatung haften die Energieberater 
	auch bei der Ausstellung eines Energieausweises f&uuml;r ihre Arbeit! Gehen Sie also kein Risiko ein und 
	lassen Sie sich vom Fachmann beraten!</a></strong></p>
</div>

