<div class="content abgerundet justify">
	<h3>Impressum</h3>
	<h4>Verantwortlich f&uuml;r den Inhalt nach &sect;5 TMG:</h4>
	<ul>
		<li>Energieberatungsagentur Nord</li>
		<li>Unternehmensgesellschaft haftungsbeschr&auml;nkt </li>
		<li>Ambo&szlig;weg 8</li>
		<li>38229 Salzgitter</li>
	</ul>
	<h4>Vertreten durch:</h4>
	<ul>
		<li>Dipl.Ing.(TU) Horst Bierotte</li>
	</ul>
	<h4>Kontakt:</h4>
	<ul>
		<li>Telefon: 05341-22 55 7 89</li>
		<li>Email: <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#x6f;&#x3a;%69%6E%66%6F%40%64%69%65%2D%65%6E%65%72%67%69%65%62%65%72%61%74%75%6E%67%73%61%67%65%6E%74%75%72%2E%64%65 "title="&#x45;&#x2d;&#x4d;&#x61;&#x69;&#x6c;">&#x69;&#x6e;&#x66;&#x6f;&#x40;&#x64;&#x69;&#x65;&#x2d;&#x65;&#x6e;&#x65;&#x72;&#x67;&#x69;&#x65;&#x62;&#x65;&#x72;&#x61;&#x74;&#x75;&#x6e;&#x67;&#x73;&#x61;&#x67;&#x65;&#x6e;&#x74;&#x75;&#x72;&#x2e;&#x64;&#x65;</a></li>
	</ul>
	<h4>Umsatzsteuer-ID:</h4>
	<ul>
		<li>USt-ID gem&auml;ß &sect;27a Umsatzsteuergesetz: 51/206/04036</li>
		<li>AG Braunschweig HRB 203588 </li>
	</ul>
	<h4>Verantwortlich f&uuml;r den Inhalt nach &sect;55 Abs. 2 RStV:</h4>
	<ul>
		<li>Energieberatungsagentur Nord UG (haftungsbeschr&auml;nkt)</li>
		<li>Horst Bierotte</li>
		<li>Ambo&szlig;weg 8</li>
		<li>38229 Salzgitter </li>
	</ul>

	<h4>Copyrights</h4>
	<ul>
		<li>Energieberatungsagentur Nord, ggf. weitere, siehe Haftungsausschluss</li>
	</ul>
	<h4>Haftungsausschluss:</h4>
	<h5>Haftung f&uuml;r Inhalte</h5>
	<ul>
		<li>Die Inhalte unserer Seiten wurden mit gr&ouml;&szlig;ter Sorgfalt erstellt. F&uuml;r die Richtigkeit, 
			Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch keine Gew&auml;hr übernehmen. 
			Als Diensteanbieter sind wir gem&auml;ß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten 
			nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter 
			jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen 
			oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen. Verpflichtungen 
			zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben 
			hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis 
			einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen 
			werden wir diese Inhalte umgehend entfernen.
		</li>
	</ul>
	<h5>Haftung f&uuml;r Links</h5>
	<ul>
		<li>Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
		Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr übernehmen. Für die Inhalte der verlinkten 
		Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden 
		zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;ße &uuml;berprüft. Rechtswidrige Inhalte waren zum Zeitpunkt
		der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
		konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen 
		werden wir derartige Links umgehend entfernen.
		</li>
	</ul>
	<h5>Urheberrecht</h5>
	<ul>
		<li>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen 
		Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen 
		des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und 
		Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf 
		dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere 
		werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung 
		aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen 
		werden wir derartige Inhalte umgehend entfernen.
		</li>
	</ul>
	<h5>Datenschutz</h5>
	<ul>
		<li>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren 
		Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, 
		soweit m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung nicht an Dritte 
		weitergegeben. Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail) 
		Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.
		Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten durch Dritte zur &Uuml;bersendung 
		von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdr&uuml;cklich widersprochen.
		Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im Falle der unverlangten Zusendung von
		Werbeinformationen, etwa durch Spam-Mails, vor.
		</li>
	</ul>
	<h5>Keine Abmahnung ohne Kontakt !</h5>
	<ul>
		<li>Im Falle der Geltendmachung von Anspr&uuml;chen jeglicher Art aus urheber-, wettbewerbsrechtlichen sowie 
		markenrechtlichen Angelegenheiten bitten wir, zur Vermeidung unn&ouml;tiger Rechtsstreitigkeiten, Abmahnungen 
		und Kosten, uns umgehend zu kontaktieren. Falls Anspr&uuml;che der oben genannten Art reklamiert werden, sagen 
		wir bereits hier vor einer endg&uuml;ltigen rechtsverbindlichen Klärung Abhilfe zu, durch die eine eventuelle 
		Wiederholungsgefahr verbindlich ausgeschlossen ist. Eine dennoch ergehende Kostennote einer anwaltlichen 
		Abmahnung ohne vorhergehende Kontaktaufnahme w&uuml;rde sodann wegen Nichtbeachtung einer Schadensminderungspflicht 
		zurückgewiesen. Bei in diesem Sinne unn&ouml;tigen bzw. unberechtigten Abmahnungen und Folgemaßnahmen w&uuml;rde mit einer 
		negativen Feststellungsklage beantwortet.</li>
	</ul>
	<small>Impressum zum Teil von <a href="http://impressum-generator.de" target="_blank">impressum-generator.de</a> von Franziska Hasselbach, 
		<a href="#">Fachanw&auml;ltin f&uuml;r Familienrecht in Gro&szlig;-Gerau</a>
	</small>
</div>

		

