<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-4 col-md-3">
			<!--Sidebar content-->
			<ul>
			<li>jajajajjajajajja</li>
			<li>jajajajjajajajja</li>
			<li>jajajajjajajajja</li>
			<li>jajajajjajajajja</li>
			</ul><li>
		</div>
		<div class="col-xs-14 col-sm-6 col-md-9">
			<!--Body content-->
			<p>Freilebende Gummibärchen gibt es nicht. Man kauft sie in Packungen an der Kinokasse. 
			Dieser Kauf ist der Beginn einer fast erotischen und sehr ambivalenten Beziehung Gummibärchen-Mensch. 
			Zuerst genießt man. Dieser Genuß umfaßt alle Sinne. Man wühlt in den Gummibärchen, man fühlt sie. 
			Gummibärchen haben eine Konsistenz wie weichgekochter Radiergummi. Die Tastempfindung geht auch 
			ins Sexuelle. Das bedeutet nicht unbedingt, daß das Verhältnis zum Gummibärchen ein geschlechtliches wäre, 
			denn prinzipiell sind diese geschlechtsneutral. Nun sind Gummibärchen weder wabbelig noch zäh; 
			sie stehen genau an der Grenze. </p>
		</div>
    </div>
</div>