<div class="row">
	<div class="col-md-12 col-lg-12">
			<footer class="abgerundet">
				<small>
					<a href="http://www.die-energieberatungsagentur.de" target="_blank">Energieberatungsagentur Nord</a> 2014
				</small>
			</footer>
	</div>
</div>