<div class="content">
	<h3>Energieausweis</h3>
	<p>Wof&uuml;r soll der Energieausweis erstellt werden?</p>
	<%= form_tag('/list_exp_ea', method: :get) do %>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="radio">
				  <label>
					<input type="radio" name="optobjektart" id="optionsRadios1" value="WG" checked>
					Wohngeb&auml;ude
				  </label>
				</div>
				<div class="radio">
				  <label>
					<input type="radio" name="optobjektart" id="optionsRadios2" value="NWG">
					Nicht-Wohngeb&auml;ude
				  </label>
				</div>
			</div>
			<p><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">
				weitere Optionen</button></p>				
				<div id="demo" class="collapse">
					<div class="form-group">
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="thermografie" id="optchkbox1" value="tg" >
							Thermografie
						  </label>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="bdt" id="optchkbox2" value="bdt" >
							Luftdichtigkeitspr&uuml;fung/Blower Door Test
						  </label>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="ssb" id="optchkbox3" value="ssb" >
							Stromsparberatung
						  </label>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="ecno" id="optchkbox4" value="ecno" >
							Energiechecks (nicht online)
						  </label>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="eco" id="optchkbox5" value="eco" >
							Energiechecks (online)
						  </label>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="seb" id="optchkbox6" value="seb" >
							Sonstige Energieberatung
						  </label>
						</div>						
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="erek" id="optchkbox7" value="erek" >
							Erstellung und Realisierung von Energiekonzepten
						  </label>
						</div>						
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="gm" id="optchkbox8" value="gm" >
							Geb&auml;udemodernisierung
						  </label>
						</div>						
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="ium" id="optchkbox9" value="ium" >
							Informations- und Motivationsma&szlig;nahmen
						  </label>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="pum" id="optchkbox10" value="pum" >
							Projektunterst&uuml;tzende Ma&szlig;nahmen
						  </label>
						</div>						
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="vob" id="optchkbox11" value="vobm" >
							Vor-Ort-Beratung (BAFA)
						  </label>
						</div>						
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="ee" id="optchkbox12" value="ee" >
							EE Bauen und Sanieren
						  </label>
						</div>					
						<div class="checkbox">
						  <label>
							<input type="checkbox" name="fub" id="optchkbox13" value="fub" >
							Fachplanung und Baubegleitung  &quot;Energieeffizient Sanieren&quot;
						  </label>
						</div>											
					</div><!-- /form-group -->
				</div><!-- /demo -->
			<p>Aus welchem Umkreis soll der Energie-Experte kommen ?</p>
			<div class="form-group inline">
				<input type="text" class="text-inline" placeholder="PLZ" name="plz">
				<input type="radio" class="checkBox" name="kmradius" id="kmradius1" value="20" checked> 20 km
				<input type="radio" class="checkBox" name="kmradius" id="kmradius2" value="50"> 50 km
				<input type="radio" class="checkBox" name="kmradius" id="kmradius3" value="100"> 100 km
				<input type="radio" class="checkBox" name="kmradius" id="kmradius4" value="101"> >100 km
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Suche starten</button>
			</div>


		</form>
	<% end %>
</div>
<script language="javascript" type="text/javascript">
<!--
$(document).ready(function()
{
    $(".checkBox,.checkBoxClear").click(function(srcc)
    {
        if ($(this).hasClass("checkBox"))
        {
            $(this).removeClass("checkBox");
            $(this).addClass("checkBoxClear");
        }
        else
        {
            $(this).removeClass("checkBoxClear");
            $(this).addClass("checkBox");
        }
    });        
});
//-->
</script>


